parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_bool\(\) with ''''\|array\{\}\|null will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Mapper/ProductMapper.php

		-
			message: '#^Parameter \#1 \$attachment_id of function wp_get_attachment_url expects int, string given\.$#'
			identifier: argument.type
			count: 2
			path: src/Mapper/ProductMapper.php
